html, .container, body{
  height: 100%;
  display: flex;
  font-family: 'Black Han Sans', sans-serif;
  flex-direction: column;


}

.tile {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  border: 1px black solid;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  text-align: center;

}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  align-content: center;
  justify-content: center;
  align-self: center;

}

.title {
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 30px 0 50px 0;
  font-size: xx-large;
}

#winner {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  min-height: 35px;
  margin: 5px 0;
}


#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 7px;
  border: 1px black solid;
  width: 200px;
  align-self: center;
  margin: 10px 0;
}

#reset:hover {
  cursor: pointer;
}
